<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1030858750928-hnpbde6gdt7vc370a0lu9s9jkc81ttfq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1030858750928-hnpbde6gdt7vc370a0lu9s9jkc81ttfq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1030858750928-fq5kc4suohqahnuo12mebam1u68okprg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAToHVcodr148FFR93n1KywZ0jsMUN1s3k</string>
	<key>GCM_SENDER_ID</key>
	<string>1030858750928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApp</string>
	<key>PROJECT_ID</key>
	<string>social-app-d5084</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-d5084.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030858750928:ios:98915ee1eae72ec01657d5</string>
</dict>
</plist>